.btn-custom{
    text-align: center;
	cursor:pointer;
	background: $top-btn-color;
	@include btn-gradient($top-btn-color, $btm-btn-color);
	@include border-radius(10px);
	@include box-shadow(0px, 1px, 3px, #666666);
	color: #ffffff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-top:25px;
	&:hover{
		background: $top-btn-color-hover;
		@include btn-gradient($top-btn-color-hover, $btm-btn-color-hover);
		text-decoration: none;
	}
}

.container{
	margin-top: 40px;
}

.hidden-msg{
	height: $hidden-msg-height;
	background-color:$default-blue;
	color: $white;
	text-align: center;
    padding-top: 38px;
}

.puzzle-section{
	margin-top:80px;
}

.puzzle-left-section{
	@include make-xs-column(12);
	@include make-sm-column(2);
	@include make-md-column(2);
	@include make-lg-column(2);
}

.puzzle-right-section{
	@include make-xs-column(12);
	@include make-sm-column(10);
	@include make-md-column(10);
	@include make-lg-column(10);
	margin-bottom:$default-margin;
}

@media (max-width: $screen-sm) {
	.puzzle-right-section, .puzzle-section{
		margin-top:$default-margin;
	}
}
