.btn-custom{
    text-align: center;
	cursor:pointer;
	background: $top-btn-color;
	@include btn-gradient($top-btn-color, $btm-btn-color);
	@include border-radius(10px);
	@include box-shadow(0px, 1px, 3px, #666666);
	color: #ffffff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-top:25px;
	&:hover{
		background: $top-btn-color-hover;
		@include btn-gradient($top-btn-color-hover, $btm-btn-color-hover);
		text-decoration: none;
	}
}

.container{
	margin-top: 40px;
}

.hidden-msg{
	height: $hidden-msg-height;
	background-color:$default-blue;
	color: $white;
	text-align: center;
    padding-top: 30px;
}

.puzzle-section{
	margin-top:60px;
}

.puzzle-left-section{
	@include make-xs-column(12);
	@include make-sm-column(2);
	@include make-md-column(2);
	@include make-lg-column(2);
}

.puzzle-right-section{
	@include make-xs-column(12);
	@include make-sm-column(10);
	@include make-md-column(10);
	@include make-lg-column(10);
	margin-bottom:$default-margin;
	
	#puzzle-picture-container{
		width:400px;
		display: inline-block;
	}
}

.tile { 
    float: left;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
	&:hover{
		opacity: .7; 
	}
}

.wrapper-center{
	position: absolute;
    left: 50%;
	.centered{
		position: relative;
		left: -50%;
	}
}

@media (max-width: $screen-sm) {
	.puzzle-right-section, .puzzle-section{
		margin-top:$default-margin;
	}
}
